<h1>Show Page</h1>
<%=@restaurant.name%>
<%=@restaurant.address%>

<br>
<p><%=pluralize(@restaurant.pizzas.count,'pizza')%><p>
<%@restaurant.pizzas.each do |pizza|%>
<p><%=link_to pizza.name, pizza_path(pizza)%></p>
<%end%>